*{
    font-family: "Permanent Marker", cursive;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

#gameContainer {
    text-align: center;
    color: rgb(230, 230, 230);
    margin-top: 7em;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.scors {
    display: flex;
    flex-direction: column;
    margin: 25px;
    color: black !important;
}

.win_times{
    width: 5em !important;
    background-color: white !important;
}

#restartBtn{
    width: 15em;
    background-color: steelblue;
    height: 3em;
    border-color: steelblue;
    border-radius: 5px;
    font-size: medium;
    margin-top: 20px;
    margin-left: 10px;
}

body{
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");
}

div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    color: black;
}


/* modal background */
.modal {
    display: none;
    position: fixed !important;
    z-index: 1 !important;
    height: auto;
    overflow: auto ; /* enable scroll if needed */
    background-color:  rgb(230, 230, 230) !important;
    top: 25% !important;
}

/* modal content */
.modal-content {
    color: rgb(32, 32, 32);
    font-size: 2em;
    font-weight: bold;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 380px;
    max-width: 80%;
    text-align: center;
}
.modal-content p {
    margin: 0;
    padding: 0;
}

/* close button for modal dialog */
.close {
    color: rgb(170, 170, 170);
    float: right;
    position: relative;
    top: -25px;
    right: -10px;
    font-size: 34px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.win-color {
    background-color: rgb(240, 240, 240);
}

.modeGame{
    margin: 1.5em 0;
    display: flex;
    justify-content: space-around;
}

#okBtn{
    width: 15em;
    height: 3em;
    background-color: darkgray;
}

#PvsP, #PvsC{
    margin-right: 10px;
}
